{% extends 'base.html' %}
{% block content %}
<body>
    <div class="book-imaged-background-container" style="display: block;" >
        <h1 class="mt-5" style="text-align: center;">Üyeler</h1>
        <div class="p-5">
            <table class="table table-light" aria-describedby="members_table" id="table_id" >  
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Ad Soyad</th>
                        <th scope="col">T.C Kimlik No</th>
                        <th scope="col">Cep Telefonu</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {%for member in members%}
                    <tr>
                        <td>{{ member.name_surname }}</td>
                        <td>{{ member.identity_number }}</td>
                        <td>{{ member.phone_number }}</td>
                        <td>{{ member.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script>
        $(function() {
            $("#table_id").DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/French.json'
                }
            });
        });
    </script>
</body>
{% endblock %}
</html> 